/* rem and em Do Not depent  on html font-size  in media queries!
Insted , 1rem = 1 em =16 pixels  */

/* lo que hay que hacer es dividir los pixeles que queremos por 16 y eso nos dara la cantidad de em  */

/* ********************************************************** */
/* ***** Queries bolow 1344px (Smaller desktop *******/
/* ********************************************************** */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ********************************************************** */
/* ***** Queries bolow 1200px (landscape tables) *******/
/* ********************************************************** */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secundary {
    font-size: 3.6rem;
  }

  .heading-terciary {
    font-size: 2.4rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonial-container {
    padding: 9.6rem 3.2rem;
  }
}

/* ********************************************************** */
/* ***** Queries bolow 944 pixels (tanblet vertical ) *******/
/* ********************************************************** */

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .hero-img {
    width: 60%;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }
  .delivery-meals {
    justify-content: center;
  }
}
